@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-markdown > pre {
  margin: 0px !important;
  padding: 0px !important;
}

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #282a36;
  padding: 4px;
}
table tr {
  border: 1px solid #282a36;
}